<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>門診盤點</title>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.wrap{
			width: 100%;
			max-width: 1200px;
		}
		.item{
			background-color: #ffa;
			margin:0px 10px 20px;
		}
		input[type='number']{
            width: 80px;
            font-size: 20px;
        }
        input[type='text']{
            width: 60px;
            font-size: 20px;
        }
	</style>

</head>
<body>
<div class="wrap">
	<div class="item">
    <form method="get" action="{{ url_for('addData')}}">
        <br>
        <h1>姓名：<em id="user-name" name="userName">{{userName}}</em></h1>
        <br>
        <h1>料位號：<input id="drug-code" type="text" name="drugCode" required="required"></h1>
        <br>
        <h1>100 * <input id="input-100" type="number" name="input100"> = <em id="multi-100-prev">0</em></h1>
        <h1>56 * <input id="input-56" type="number" name="input56"> = <em id="multi-56-prev">0</em></h1>
        <h1>28 * <input id="input-28" type="number" name="input28"> = <em id="multi-28-prev">0</em></h1>
        <h1>21 * <input id="input-21" type="number" name="input21"> = <em id="multi-21-prev">0</em></h1>
        <h1>14 * <input id="input-14" type="number" name="input14"> = <em id="multi-14-prev">0</em></h1>
        <h1>10 * <input id="input-10" type="number" name="input10"> = <em id="multi-10-prev">0</em></h1>
        <h1>7 * <input id="input-7" type="number" name="input7"> = <em id="multi-7-prev">0</em></h1>
        <h1>1 * <input id="input-1" type="number" name="input1"> = <em id="multi-1-prev">0</em></h1>
        <h1>總合：<em id="cnt-sum-prev">0</em></h1>

        <h1>自行輸入：<input id="input-free" type="text" name="inputFree"> = <em id="input-free-prev">0</em></h1>

        <p>
        <input id="return-data" name="returnData" type="hidden"></input>
        <button type="submit" onclick="checkData()">送出</button>
        <button type="reset" onclick="alertReset()">清除</button>
    </p>
    </form>
    </div>
</div>
    <script type="text/javascript">
    var dataJson;
    var dataJsonFree;

    var input_100;
    var input_56;
    var input_28;
    var input_21;
    var input_14;
    var input_10;
    var input_7;
    var input_1;
    var input_sum;
    var input_free;</script>

    <script type="text/javascript">function sumPrev(){
            input_100 = document.getElementById("input-100").value;
            input_100 = Number(input_100);
            input100 = 0
            if (input_100){
                input100 = input_100 * 100
            	document.getElementById("multi-100-prev").innerHTML= input100;
            }else{
            	document.getElementById("multi-100-prev").innerHTML= 0;
            }

            input_56 = document.getElementById("input-56").value;
            input_56 = Number(input_56);
            input56 = 0
            if (input_56){
                input56 = input_56 * 56
            	document.getElementById("multi-56-prev").innerHTML= input56;
            }else{
            	document.getElementById("multi-56-prev").innerHTML= 0;
            }

            input_28 = document.getElementById("input-28").value;
            input_28 = Number(input_28);
            input28 = 0
            if (input_28){
                input28 = input_28 * 28
            	document.getElementById("multi-28-prev").innerHTML= input28;
            }else{
            	document.getElementById("multi-28-prev").innerHTML= 0;
            }

            input_21 = document.getElementById("input-21").value;
            input_21 = Number(input_21);
            input21 = 0
            if (input_21){
                input21 = input_21 * 21
            	document.getElementById("multi-21-prev").innerHTML= input21;
            }else{
            	document.getElementById("multi-21-prev").innerHTML= 0;
            }

            input_14 = document.getElementById("input-14").value;
            input_14 = Number(input_14);
            input14 = 0
            if (input_14){
                input14 = input_14 * 14
            	document.getElementById("multi-14-prev").innerHTML= input14;
            }else{
            	document.getElementById("multi-14-prev").innerHTML= 0;
            }

            input_10 = document.getElementById("input-10").value;
            input_10 = Number(input_10);
            input10 = 0
            if (input_10){
                input10 = input_10 * 10
            	document.getElementById("multi-10-prev").innerHTML= input10;
            }else{
            	document.getElementById("multi-10-prev").innerHTML= 0;
            }

            input_7 = document.getElementById("input-7").value;
            input_7 = Number(input_7);
            input7 = 0
            if (input_7){
                input7 = input_7 * 7
            	document.getElementById("multi-7-prev").innerHTML= input7;
            }else{
            	document.getElementById("multi-7-prev").innerHTML= 0;
            }

            input_1 = document.getElementById("input-1").value;
            input_1 = Number(input_1);
            input1 = 0
            if (input_1){
                input1 = input_1
            	document.getElementById("multi-1-prev").innerHTML= input1;
            }else{
            	document.getElementById("multi-1-prev").innerHTML= 0;
            }

            input_sum = input100 + input56 + input28 + input21 + input14 + input10 + input7 + input1;
            document.getElementById("cnt-sum-prev").innerHTML = input_sum;

        }</script>

    <script type="text/javascript">function sumFree(){
        input_free = document.getElementById("input-free").value;

        try {
        inputFree = eval(input_free);
        } catch(e){
        inputFree = 0;
        }

        if (inputFree){
            	document.getElementById("input-free-prev").innerHTML= inputFree;
            }else{
            	document.getElementById("input-free-prev").innerHTML= 0;
            	inputFree = 0;
            }
    }
    </script>
    <script type="text/javascript">function checkData(){
        dataJson = {100: input_100, 56: input_56, 28: input_28, 21: input_21, 14: input_14,
                    10: input_10, 7: input_7, 1: input_1, "sum": input_sum}
        dataJsonKeys = Object.keys(dataJson);
        for (var i = 0; i < dataJsonKeys.length; i++){
            if (dataJson[dataJsonKeys[i]] == 0 && dataJsonKeys[i] != "sum"){
                delete dataJson[dataJsonKeys[i]]};
        }

        dataJsonFree = {inputFree: [input_free, inputFree]}

        var tSum = input_sum + inputFree;
        var drugCode = document.getElementById("drug-code").value;
        var userName = document.getElementById("user-name").innerHTML;

        totalData = JSON.stringify([drugCode, tSum, dataJson, dataJsonFree, userName]);
        document.getElementById("return-data").value = totalData;
        }</script>
    <script type="text/javascript">function alertReset(){
        }</script>
    <script type="text/javascript">
    window.onload = sumPrev();
    window.onload = sumFree();
    window.setInterval("sumPrev()",100);
    window.setInterval("sumFree()",100);</script>
</body>
</html>
